.nav-change{
  width:100%;
  height: 100%;
  background-color: white;
}

.nav-details{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: white;
  height: 60px;
  box-shadow: 0px 15px 10px -15px #111; 
}

a{
  font-size: 20px;
  color:rgb(15, 15, 15);
}

.color-range{
  margin-top: 15px;
}

.TheBody{ 
text-align: center;
margin-top: 210px;
}

p{
  font-size: 30px;
}

button{
  padding: 15px 50px;
  border-radius: 13px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: bolder;
}